<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="ApiAssess\MsgAssess\Api\CartApiInterface" type="ApiAssess\MsgAssess\Model\CustomtblRepository"/>
    <preference for="ApiAssess\MsgAssess\Api\Data\CustomtblInterface" type="ApiAssess\MsgAssess\Model\Data\Customtbl"/>
</config>
